body {
  text-align: center;
  background-color: #4e360a;
}

#level-title {
  font-family: 'Odibee Sans', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  /* margin: 25px; */
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #2f353d;
  border-radius: 10%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #d14c4c;
}

.green {
  background-color: #368b36;
}

.blue {
  background-color: #5a5a9e;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
